@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


html {

overflow: hidden;

}


.title {
  margin-top: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

#str {


  padding: 4px;
  padding-top: 90px; /* text position */
  text-align: center;
  font-size: 35px;
  height: auto ;
  margin-left:35rem;
  width: 22%;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
}