@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

body {
  top: 0;

  box-sizing: border-box;
  background-color: white;
  padding-bottom: 100px;
  padding-bottom: 100px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.title {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}
.title:hover {
  color: rgb(182, 182, 221);
}
/* Navbar start */

.nav-wrapper {
  top: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  height: 60px;
  z-index: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
}

.logo {
  height: 60px;
}

.nav-tabs {
  margin-top: 23px;
  display: flex;
  font-size: 35px;
  list-style: none;
}
.nav-tabs a {
  text-decoration: none;
  color: #111;
}

.nav-tab:not(:last-child) {
  padding: 10px 15px;
  margin: 0;
  right: auto;
}

.nav-tab:last-child {
  padding: 10px 0 0 20px;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}
/* Navbar End */

main {
  margin: auto;

  width: 80%;
  height: 100vh;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 47px;
 
  font-size: 20px;
  text-align: center;
}
.photo {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  border: 2px solid gray;
}

.email-form {
  padding-left: 50px;
 justify-items: center;
  width: 80%;
  margin: 0 auto;
}

input[type="text"],
textarea,
input[type="email"] {
  top: 100px;
  width: 80%;
  padding: 15px;
  border: 1px solid #b6b6dd;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.button {
  margin: 10px;
  padding: 10px 30px;
  border: 1px solid #9191e6;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: #a0a0ca;
}
.button a {
  text-decoration: none;
  
}
.button:hover {
  background-color: #7b7bf3;
}

input[type="submit"]:hover {
  color: #9595d7;
  color: black;
}

/* effet nav start*/
nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 14px 10px;
  transition: 0.2s ease color;
}
nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 5px;
  width: 10px;
  height: 10px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 8px;
  height: 6px;
}

nav a:nth-child(1):before {
  background-color: #b6b6dd;
}

nav a:nth-child(1):after {
  background-color: #b6b6dd;
}

nav a:nth-child(2):before {
  background-color: #b6b6dd;
}

nav a:nth-child(2):after {
  background-color: #b6b6dd;
}

nav a:nth-child(3):before {
  background-color: #b6b6dd;
}

nav a:nth-child(3):after {
  background-color: #b6b6dd;
}
nav a:nth-child(4):before {
  background-color: #b6b6dd;
}

nav a:nth-child(4):after {
  background-color: #b6b6dd;
}
nav a:nth-child(5):before {
  background-color: #b6b6dd;
}

nav a:nth-child(5):after {
  background-color: #b6b6dd;
}
nav a:nth-child(6):before {
  background-color: #b6b6dd;
}

nav a:nth-child(6):after {
  background-color: #b6b6dd;
}
nav a:nth-child(7):before {
  background-color: #b6b6dd;
}

nav a:nth-child(7):after {
  background-color: #b6b6dd;
}

nav a:hover {
  color: #5c7bd5;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);

  left: 54.5%;
}

nav a:nth-child(2):hover ~ #indicator {
  left: 84.5%;
  background: linear-gradient(130deg, #b6b6dd, #b6b6dd);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 10%;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(4):hover ~ #indicator {
  left: ;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(5):hover ~ #indicator {
  left: ;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(6):hover ~ #indicator {
  left: ;
  background: linear-gradient(130deg, purple, palevioletred);
}
nav a:nth-child(7):hover ~ #indicator {
  left: ;
  background: linear-gradient(130deg, purple, palevioletred);
}

/* effet nav end*/

/* Footer start */
.footer #button {
  width: 30px;
  height: 30px;
  border: #b6b6dd 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  color: white 12px solid;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 8em;
}
.footer #container {
  margin-top: 10px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 50px;
  width: 200px;
  height: auto;
  margin: 0 auto;
  color: white;
}
.footer_center {
  display: flex;
  width: 200%;
  float: left;
  text-align: center;
}
.footer h3 {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top:67px;
 
  color: black;
}

.footer a {
  display: block;
  font-size: 10px;
  font-weight: 100;
  color: black;
  /* margin-top: 70px;
  margin-left: 20px; */
}
.footer .legal {
  font-family: 'Cormorant Garamond', serif;
  display: block;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 63px;
  float: center;
  text-align: center;
  color: black;
}
.links-media {
  float: center;
  text-align: center;
  margin-top: 70px;
  
}
.legal {
  padding: 1%;
  width: auto;
  float: right;
  text-align: right;
  text-decoration: none;
}
.legal:hover {
    
  color: #b6b6dd; 
}
.fa {
  display: inline-block;
  padding: 2px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  margin-top: 70px;
  color: black;

  text-align: center;
}

.fa:hover {
   color: #b6b6dd; 
  
}

.fa-facebook {
  color: black;
}
.fa-google {
  color: black;;
}

.fa-youtube {
  
  color: black;
}

.fa-instagram {

  color: black;
}

.fa-vimeo {
 
  color: black;
}
.fa-soundcloud {
  
  color: black;
}



/* Footer End */

/* Footer End */

/* Pour les écrans jusqu'à 600px de large */
@media screen and (max-width: 600px) {
  /* Ajustements pour la taille de la police dans la navbar */
  .title {
    font-size: 1.7rem;
  }
  .nav-tabs {
    font-size: 16px;
  }
  .footer h3 {
    font-size: 18px;
  }
  .footer .legal {
    font-size: 18px;
  }
  .email-form {
  padding-left: 35px;
  }
  .button{
    margin-left:0;
  }
  .photo {
    margin-left: 55px;
  }
}

/* Pour les écrans jusqu'à 875px de large */
@media screen and (max-width: 875px) {
  /* Ajustements pour la taille de la police dans la navbar */
  .title {
    .title {
      font-size: 1.7rem;
    }
  }
  .footer h3 {
    font-size: 14px;
  }
  .footer .legal {
    font-size: 18px;
  }
}

/* Ajustements pour la position des boutons du menu */
.nav-tabs {
  font-size: 20px;
}
/* Ajustements pour la taille de la police dans le footer */

@media screen and (max-width: 874px) {
  .rc_nav a {
    display: relative;
  }
  .rc_nav a.icon {
    float: left;
    display: block;
    width: 10px;
    position: fixed;
    left: 0;
    top: 0px;
  }
}

@media screen and (min-width: 875px) {
  .container {
    margin: auto;
    width: 50%;
    height: auto;
    margin-top: 0;
    margin-left: 24%;
  }
  .email-form {
    width: 100%;
    padding-left: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  input[type="text"],
  textarea,
  input[type="email"] {
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Cormorant Garamond", serif;
  }
  main {
    margin: 0;
  }

  .rc_nav a {
    display: relative;
  }
  .rc_nav a.icon {
    float: left;
    display: none;
    width: 10px;
    position: fixed;
    left: 0;
    top: 0px;
  }
  #rc_logo {
    font-size: 25px;
  }
  .rc_nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 10px;
  }
  .rc_nav a {
    /*    display: inline-block; */

    padding: 7px 7px;
    font-size: 13px;
  }
  .photo {
    margin-left: 235px;
  }
}

@media screen and (max-width: 945px) {
  .title {
    font-size: 1.7rem;
  }
  .email-form {
    
    padding-left: 20px;
   
  }

  .footer h3 {
    font-size: 14px;
  }
  .footer .legal {
    font-size: 14px;
  }
  .photo {
    width: 100px;
  }
  .footer h3 {
    font-size: 14px;
  }
  .footer .legal {
    font-size: 14px;
  }

  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 148px;
    height: 100%;
    background: #cbcdcd;
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    font-size: 1rem;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 15px 7px;
    margin: 0;
    border-right: unset;
  }

  .nav-tab:last-child {
    padding: 15px 7px;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #111;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
}
