@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html {

    overflow: hidden;
    
    }


    .title {
      margin-top: 15px;
      font-family: "Cormorant Garamond", serif;
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: 2px;
      color: white;
      text-decoration: none;
    }

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 150pt;
  top: 0;
  bottom: 0;
  filter: url(#threshold) blur(0.6px);
 
  }
  
  #text1,
  #text2 {
   /*  margin-top: 5rem;
    width: 100%;
    display: inline-block;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 50pt; */
top: 0;

    position: absolute;
    width: 100%;
    display: inline-block;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 50pt;
    text-align: center;
    user-select: none;
 
  
 
  }